<footer class="foot text-center text-lg-start ">
    <div class="container p-4 mb-0 bg-">
        
        <div class="row mt-3">
            <div class="col-3 text-center">                    
                        <a href="http://www.facebook.com" class="text-primary"><i class="fa fa-facebook fa-2x"></i></a>                         
                </div>
                <div class="col-3 text-center">                    
                        <a href="http://www.reddit.com" class="text-danger"><i class="fa fa-reddit fa-2x"></i></a>                         
                </div>
                <div class="col-3 text-center">                    
                        <a href="http://www.pinterest.com" class="text-success"><i class="fa fa-pinterest-p fa-2x"></i></a>                         
                </div>
                    <div class="col-3 text-center">                    
                        <a href="http://www.instagram.com" class="text-danger"><i class="fa fa-instagram fa-2x"></i></a>                         
                </div>
            </div>               
    </div>
    <div class="text-center text-dark p-3" >
                
                <small>&copy; 2020 Copyright: <a class="text-dark" href="https://elketefaka.com/">Mr.Sumpalumpa</a></small>
    </div>
</footer> 