{%extends "shop/layout.html"%}
{% load static %}
{% block content_top %}
{% csrf_token %}
    <div class="container ">
        
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-transparent">
                    <div class="container">
                      <h1 class="display-4 text-light">Discover what we can do! </h1>
                      <p class="lead text-light">Check out our new products and designs for Bonsai</p>
                      <button class="btn btn-lg btn-light mt-3">Discover!</button>
                    </div>
                  </div>        
            </div>
        </div>
    </div>
    <div class="container pb-5 ">
        <div class="row  ">
            <div class="col-md-4 mx-auto ">
                <div class="card card1 mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Special bonsai design</h5>
                        <p class="card-text">We've been working with the best bonsai designers for more than 10 years.</p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 mx-auto  ">
                <div class="card card1 mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Personalize yours</h5>
                        <p class="card-text">You will get the best product support for improving and caring of your trees.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mx-auto ">
                <div class="card card1 mt-3">
                      <div class="card-body">
                          <h5 class="card-title">Huge catalogue</h5>
                          <p class="card-text">We've got the bonsai of your dreams just take a look to our catalogue!</p>
                          <a href="#" class="btn btn-light ">Check it! <i class="fa fa-tree" aria-hidden="true"></i>
                          </a>
                      </div>
                  </div>
            </div>
    </div>
    </div>

    
{% endblock content_top%}
{% block content_bottom%}
    {% include 'partials/slider.html'%}
{% endblock content_bottom%}
{% block js%}
    <script src="{% static 'shop/js/flick.js'%}"></script>
{% endblock js%}