{% extends "shop/layout.html"%}
{% load static  %}
{% block content_top%}
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Your issue has been sent! Thanks for your patience</h1>
            <p class="d-flex justify-content-center"><button class="btn btn-block btn-success w-75"><a href="/">Back Home</a> </button></p>
        </div>
    </div>

{% endblock%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       